.leaf {
 margin:0;
 padding-right:0;
 padding-left:5px;
 margin-bottom:3px;
 border:0px solid red;
}

.leaf.current {
 border-left-color: rgba(150, 0, 0, 0.5);
 background:rgba(252,235,187, 0.5);
}

.leaf {
  border-left: 4px solid rgba(0, 0, 0, 0.5);
  border-radius:3px;
}

.leaf.hd {
 border:none; 
 border-radius:0;
}

.branch{
  border-left: 4px solid rgba(0, 0, 0, 0.5);
  border-radius:3px;
}

.branch.selected {
 border-left-color: rgba(150, 0, 0, 0.5);
}

.children{
 padding-left:0.5em;
}
